*{
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    color:rgb(255, 255, 255);
}
body {
    background-image: url('hi/photo.jpg');
    /* background-color: rgb(208, 193, 235);
    background-size: 100% 100%;
    position: relative;
    padding: 10px 8%; */
}
.main-text {
    color: white;
    font-weight: bold;
}
.main2-text {
    font-size: 16px;
}
.info_container{
    /* width: 100%;
    height: 500px;
    background: #7e79d9;
    background: linear-gradient(90deg,rgba(126, 121, 217, 1) 0%, rgba(4, 14, 28, 1) 99%, rgba(53, 68, 71, 1) 100%, rgba(35, 35, 232, 1) 100%);
    flex-direction: column;
    position: relative;
    gap: 20px;
    margin-top: 200px; */
    display: flex;
    height: auto;
    align-items: center;
    justify-content: center;
}

.info{
    margin-top: 50px;
    display: block;
    justify-content: center;

}

.container {
    width: 100%;
    background: linear-gradient(180deg, rgba(69, 64, 168, 1) 0%, rgba(4, 14, 28, 1) 99%, rgba(53, 68, 71, 1) 100%, rgba(35, 35, 232, 1) 100%);
    position: fixed;
    margin: 0 auto;
    padding: 20px;
    top: 0;
    left: 0;
    flex-direction: row;
}


.big_text {
    text-align: center;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.small_text {
    text-align: center;
    display: flex;
    color: white;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
.real-main {
    position: absolute;
    padding: 200px 60px;
}
#port{
    text-align: center;
    font-size: 100px;
    font-weight: 100px;
}
img {
    position: relative;
    align-items: center;
    width: 34%;
    display: block;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
}
#profile {
    margin: 0;
    border-radius: 50%;
}
.about_me {
    display: flex;
    justify-content: space-between;
    margin-top: 200px;
    padding-left: 100px;
}
#about {
    align-items: center;
    justify-content: center;
    text-decoration: underline;

}
.topnav {
  background-color: #333;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
#line {
    .hline { width:100%; height:5px; background: #000000}
}

#info2 {
    margin-right: 20px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #27214d;
  color: white;
}
.contact-card {
    padding: 50px;
}
#myButton {
    color: black;
}